# ARTIFICIAL NEURAL NETWORK ON HOUSING PRICES

**IMPORTING REQUIRED LIBRARIES**

In [ ]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (4.41.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (20.9)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.22.2.post1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.8.9)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.4.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: terminaltables in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (3.1.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->keras-tuner) (1.0.1)

## IMPORTING TOOLS

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam
from kerastuner import RandomSearch
from sklearn.metrics import mean_squared_error, mean_absolute_error

**CHECKING FOR GPU**

In [ ]:
physical_devices = tf.config.experimental.list_physical_devices('GPU')
print("Num GPU's available :", len(physical_devices))

Num GPU's available : 1

In [ ]:
#Importing dataset
df = pd.read_csv('drive/MyDrive/Housing project/Housing _data_for_modelling.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head()

   MSSubClass  MSZoning  LotFrontage  ...  SaleCondition  SalePrice  DateSold
0         120         3         70.0  ...              4     128000        13
1          20         3         95.0  ...              4     268000        21
2          60         3         92.0  ...              4     269790        17
3          20         3        105.0  ...              4     190000        48
4          20         3         70.0  ...              4     215000        41

[5 rows x 75 columns]

In [ ]:
#splitting the dataset
X = df.drop('SalePrice', axis = 1)
y = df['SalePrice']

In [ ]:
#creating the function for scaling the dataset
Scaler = MinMaxScaler()
def scale_data(data):
    """
    It scales the data using standard scaler
    """
    data = Scaler.fit_transform(data)
    return data

In [ ]:
Xnew = scale_data(X)

In [ ]:
#splitting the data into train and val
X_train, X_val, y_train, y_val = train_test_split(Xnew,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [ ]:
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((934, 74), (934,), (234, 74), (234,))

**CREATING MODEL**

In [ ]:
#early stopping parameter for preventing model from overfitting
early_stopping = tf.keras.callbacks.EarlyStopping(monitor = 'val_loss',
                                                patience= 5)

In [ ]:
def build_model(hp):
    hp_units = hp.Int('units', min_value=75, max_value=512, step=32)
    hp_activation = hp.Choice('activation', values = ['relu','linear','elu'])
    hp_kernel_initializer = hp.Choice('kernel_initializer', values = ['normal','he_normal','he_uniform','uniform'])
    model = Sequential([
                    Dense(units = hp_units, input_shape = (74,), kernel_initializer =  hp_kernel_initializer, activation = hp_activation),
                    Dense(units = hp_units, kernel_initializer = hp_kernel_initializer, activation = hp_activation),
                    Dense(units = hp_units,kernel_initializer = hp_kernel_initializer, activation = hp_activation),
                    Dense(units = 1 , activation = hp_activation)
])

    model.compile(loss = 'mse',
                  optimizer = keras.optimizers.Adam(hp.Choice('learning_rate', values=[1e-2, 1e-3])), 
                                                              metrics = ['mse', 'mae'])

    return model

## FINDING THE BEST PARAMETERS USING KERAS TUNER

In [ ]:
tuner_search = RandomSearch(build_model,
                            objective = 'val_mse',
                            max_trials = 30,
                            directory = 'output',
                            project_name = 'house prices15')

In [ ]:
tuner_search.search(X_train,y_train, validation_split = 0.2, epochs = 100, callbacks = [early_stopping])

Trial 30 Complete [00h 00m 02s]
val_mse: 1934640384.0

Best val_mse So Far: 1548912640.0
Total elapsed time: 00h 02m 02s
INFO:tensorflow:Oracle triggered exit

**BUILDING MODEL WITH BEST PARAMETERS**

In [ ]:
model = tuner_search.get_best_models(num_models = 1)[0]

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 107)               8025
_________________________________________________________________
dense_1 (Dense)              (None, 107)               11556
_________________________________________________________________
dense_2 (Dense)              (None, 107)               11556
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 108
=================================================================
Total params: 31,245
Trainable params: 31,245
Non-trainable params: 0
_________________________________________________________________

**FITTING MODEL WITH BEST HYPERPARAMETERS**

In [ ]:
model.fit(X_train,
          y_train,
          batch_size = 32,
          epochs = 50,
          verbose = True,
          callbacks = early_stopping,
          validation_split = 0.2)

Epoch 1/50
24/24 [==============================] - 0s 7ms/step - loss: 1059110080.0000 - mse: 1059110080.0000 - mae: 22054.3633 - val_loss: 1569492736.0000 - val_mse: 1569492736.0000 - val_mae: 22183.2188
Epoch 2/50
24/24 [==============================] - 0s 5ms/step - loss: 1029853696.0000 - mse: 1029853696.0000 - mae: 21950.0742 - val_loss: 1614508416.0000 - val_mse: 1614508416.0000 - val_mae: 22590.9648
Epoch 3/50
24/24 [==============================] - 0s 5ms/step - loss: 1016106624.0000 - mse: 1016106624.0000 - mae: 21555.3984 - val_loss: 1575288832.0000 - val_mse: 1575288832.0000 - val_mae: 22090.1133
Epoch 4/50
24/24 [==============================] - 0s 6ms/step - loss: 997571200.0000 - mse: 997571200.0000 - mae: 21427.2129 - val_loss: 1588997376.0000 - val_mse: 1588997376.0000 - val_mae: 22060.7812
Epoch 5/50
24/24 [==============================] - 0s 5ms/step - loss: 984937920.0000 - mse: 984937920.0000 - mae: 21457.7559 - val_loss: 1587678464.0000 - val_mse: 1587678464.0000 - val_mae: 21918.2109
Epoch 6/50
24/24 [==============================] - 0s 6ms/step - loss: 965835520.0000 - mse: 965835520.0000 - mae: 21258.7012 - val_loss: 1610134656.0000 - val_mse: 1610134656.0000 - val_mae: 22098.7988

#PREDICTING ON TEST DATA

In [ ]:
df_test = pd.read_csv('drive/MyDrive/Housing project/test.csv')
df_test.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0   337          20       RL  ...    2007        WD        Normal
1  1018         120       RL  ...    2009       COD       Abnorml
2   929          20       RL  ...    2009        WD        Normal
3  1148          70       RL  ...    2009        WD        Normal
4  1227          60       RL  ...    2008        WD        Normal

[5 rows x 80 columns]

## Preprocessing test data same as train data

In [ ]:
#dropping the features
def drop_features(data):
    """
    It drops the features which contains more than `40%` of missing values
    """
    percentage = dict(round(data.isna().sum()/len(data)*100,2))
    for key, values in percentage.items():
        if values > 40:
            print(f'The {key} has {values} % of missing values.')
            data = data.drop(key, axis = 1)
    return data

In [ ]:
df_test = drop_features(df_test)

The Alley has 95.21 % of missing values.
The FireplaceQu has 47.6 % of missing values.
The PoolQC has 100.0 % of missing values.
The Fence has 84.93 % of missing values.
The MiscFeature has 96.58 % of missing values.

In [ ]:
#filling the missing values using simple imputer
def fill_values(data):
    """
    Fills all the missing values using simple imputer,Categorical values with the 'most frequent' values,Numerical values with the  'median' values.
    """

    for labels, content in data.items():
         # Filling the missing values of object dtype(categorical) with 'most frequent'
        if pd.api.types.is_object_dtype(content):
            if pd.isnull(content).any():
                Imputer = SimpleImputer(strategy = 'most_frequent')
                data[labels] = Imputer.fit_transform(data[labels].values.reshape(-1,1))[:,0]
        
        # Filling the missing values of the numerical dtype
        else:
            if pd.isnull(content).any():
                Imputer1= SimpleImputer(strategy = 'median')
                data[labels] = Imputer1.fit_transform(data[labels].values.reshape(-1,1))[:,0]
    return data

In [ ]:
df_test = fill_values(df_test)

In [ ]:
#Converting all the features into numeric
le = LabelEncoder()

#creating function for converting the features into numerical
def convert_features(data):
    """
    Converts the categorical features into numerical features
    """
    for cols in data.columns:
        if not pd.api.types.is_numeric_dtype(data[cols]):
            data[cols] = le.fit_transform(data[cols])
    return data

In [ ]:
df_test = convert_features(df_test)

In [ ]:
set(df_test.columns) - set(X.columns)

{'GarageCars', 'Id'}

In [ ]:
df_test_final = df_test.drop(['GarageCars', 'Id'], axis = 1)
set(X.columns) - set(df_test_final.columns)

{'DateSold'}

In [ ]:
df_test_final['DateSold'] = df_test_final['MoSold'].astype(str) + '' +  df_test_final['YrSold'].astype(str)

In [ ]:
df_test_final['DateSold'] = df_test_final['DateSold'].astype('int')

In [ ]:
#scaling data
scaler = MinMaxScaler()
def scale_data(data):
    """
    It scales the data using Standard scaler 
    """
    data = scaler.fit_transform(data)
    return data

In [ ]:
df_test_final = scale_data(df_test_final)

## Predicting on test data

In [ ]:
predictions = model.predict(df_test_final)
preds = predictions.reshape(-1,)  
preds =  pd.Series(preds, name = 'Predictions')

0      402211.937500
1      230504.015625
2      319135.875000
3      173531.765625
4      287439.343750
           ...
287    304982.718750
288    147207.140625
289    186751.453125
290    199408.234375
291     93342.437500
Name: Predictions, Length: 292, dtype: float32

In [ ]:
IDs = pd.DataFrame(df_test['Id'])
Final_predictions = pd.concat([IDs, preds], axis = 1)
Final_predictions.head()

     Id    Predictions
0   337  402211.937500
1  1018  230504.015625
2   929  319135.875000
3  1148  173531.765625
4  1227  287439.343750

## SAVING PREDICTIONS

In [ ]:
Final_predictions.to_csv('drive/MyDrive/Housing project/DeepLearningPredictions.csv')

## SAVING MODEL

In [ ]:
model.save('drive/MyDrive/Housing project/HousingPricePredictionANN.h5')